<launch>
<!-- Set launch file parameters -->
<arg name="world_name" value="$(find formation)/worlds/playground.world"/>
<arg name="paused" default="false"/>
<arg name="use_sim_time" default="true"/>
<arg name="gui" default="true"/>
<arg name="headless" default="false"/>
<arg name="debug" default="false"/>

<!-- Run the gazebo simulation environment -->
<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(arg world_name)" /> -->
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
</include>


<!-- Load robot model description parameters -->

<!-- begin robot1 -->
<group ns="ares1">
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find formation)/urdf/ares_laser.xacro' bodyframe:=ares1 ns:=ares1" /> 

	<!-- Run joint_state_publisher node to publish robot joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

	<!-- Run robot_state_publisher node to publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
	</node>

<!-- node name="ares_teleop"       pkg="ares_teleop" type="ares_teleop.py"       output="screen" /-->

	<!-- Load robot model in gazebo -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      	args="-urdf -model ares1 -param robot_description -x 0 -y 0"/> 
	
</group>

<!-- begin robot2 -->
<group ns="ares2">
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find ares_description)/urdf/ares_laser.xacro' bodyframe:=ares2 ns:=ares2" /> 

	<!-- Run joint_state_publisher node to publish robot joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

	<!-- Run robot_state_publisher node to publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
	</node>

	<!-- Load robot model in gazebo -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      	args="-urdf -model ares2 -param robot_description -x -0.866 -y 0.5"/> 
		  
</group>

<!-- begin robot3 -->
<group ns="ares3">
	<param name="robot_description" command="$(find xacro)/xacro --inorder'$(find ares_description)/urdf/ares_laser.xacro' bodyframe:=ares3 ns:=ares3" />
	<!-- Run joint_state_publisher node to publish robot joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 

	<!-- Run robot_state_publisher node to publish tf -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"  output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
	</node>

	<!-- Load robot model in gazebo -->
	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
      	args="-urdf -model ares3 -param robot_description -x -0.866 -y -0.5"/> 
</group>

<!-- Teleoperation for robot 1 -->
<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="robot_1_keyboard" output="log">
	<remap from="/cmd_vel" to="/ares1/cmd_vel" />
</node>
</launch>